

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.subtitle {
  font-size: 20px; /* change la taille comme tu veux */
  font-weight: 300; /* optionnel : style plus élégant */
  margin-top: 15px;
}

.blue-line {
  width: 100px;
  height: 3px;
  background-color: #2fb4ff;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1280px; /* largeur max du container */
  margin: 0 auto; /* centre horizontalement */
  justify-items: center;
}

.card-project {
  position: relative; /* nécessaire pour positionner l'overlay */
  background: #111a33;
  width: 400px;
  border-radius: 14px;
  padding-bottom: 20px;

  overflow: hidden; /* pour que l'overlay ne dépasse pas les bords de la carte */
}

.card-project:hover {
  box-shadow: 0 0 20px #231c14;
}

.card-project:hover img {
  filter: brightness(50%); /* assombrit l'image à 50% */
}

.card-project .title {
  margin: 0px;
}

.card-project img {
  border-radius: 14px 14px 0 0;
  width: 400px;
  height: 220px;
  object-fit: cover;
  transition: 0.5s ease; /* pour l’animation */
}

/* Overlay invisible par défaut */
.card-project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px; /* même que l'image */
  background: rgba(0,0,0,0.1); /* sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* caché par défaut */
  transition: 0.3s ease;
}

/* Icône dans l'overlay */
.card-project .overlay a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.card-project:hover .overlay {
  opacity: 1;
}

.card-project .description {
  margin: 20px;
}

.card-project .items {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.card-project .item{
  display: flex;
  background-color: rgb(99, 98, 98);
  border-radius: 10px;
}

.card-project .lien{
  margin-left: 20px;
  color: #2fb4ff;
}