.hero{
    padding-top: 170px;
    box-sizing: border-box; /*inclut le padding*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-primary); /* light gray background */
    text-align: center;
}

.hello{
    color: #a364e1;
    font-size: 20px;
}

.full{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 60px;
    color: var(--text-primary);
}

.job{
    color: #5a85f9;
    font-size: 25px;
    margin-bottom: 20px;
}

.presentation{
    color: var(--text-secondary);
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 550px;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    gap: 10px;
}


.icon-circle {
    width: 35px;
    height: 35px; 
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--accent-primary);
    text-decoration: none; 
}

.icon-circle i {
    color: var(--icon-clor);
    font-size: 18px; 
    /* couleur de l'icon */
    display: block;
}


.icon-circle:hover {
    transform: translateY(-6px); /* monte vers le haut */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icon-circle:hover i {
    transform: scale(1.1); /* petit zoom optionnel */
}

.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hero-descript{
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}

.hero-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    gap:20px;
}

.hero-connect {
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(267deg, #764ba2 0.36%, #4362b7 102.06%); /* violet simple to orange simple */
    padding: 10px 20px;
    transition: 0.5s;
}

.hero-connect:hover{
    transform: scale(1.05);
}

.hero-resume{
    cursor: pointer;
    border-radius: 50px;
    border: var(--text-primary) 1px solid;
    color: var(--text-primary);
    padding: 10px 20px;
    transition: 0.5s;
}

.hero-resume:hover{
    transform: scale(1.05);
}

.hero img.scroll-image{
    width: 20px;
    height: auto;
}

.scroll-down {
    position : absolute;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    animation: upDown 2s infinite;
    color: var(--text-secondary);
}

.scroll-down .label{
    margin-bottom: 10px;
    font-size: 15px;
}

.scroll-down:hover {
    color: #2fb4ff;
}

@keyframes upDown {
  0% {
    transform: translateY(0);      /* position normale */
  }
  50% {
    transform: translateY(-20px);  /* monter */
  }
  100% {
    transform: translateY(0);      /* redescendre */
  }
}