.hero{
    padding-top: 200px;
    box-sizing: border-box; /*inclut le padding*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black; /* light gray background */
    text-align: center;
}

.hello{
    color: #b923e1;
    font-size: 20px;
}

.full{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 60px;
}

.job{
    color: #DA7C25;
    font-size: 25px;
    margin-bottom: 20px;
}

.presentation{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 550px;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    gap: 10px;
}


.icon-circle {
    width: 30px;
    height: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    
    text-decoration: none; 
}

/* Le style de l'icône (le i) à l'intérieur */
.icon-circle i {
    /* Couleur de l'icône */
    color: #ffffff; 
    /* Taille de l'icône */
    font-size: 18px; 
    /* Assurez-vous que l'icône est bien un bloc */
    display: block;
}

/* Effet au survol (optionnel) */
.icon-circle:hover {
    background-color: #cc823c; /* Changement de couleur au survol */
}

.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border : 3px solid #DA7C25; /* violet simple */
    margin-bottom: 20px;
}

.hero-descript{
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}

.hero-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    gap:20px;
}

.hero-connect {
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06%); /* violet simple to orange simple */
    padding: 10px 20px;
    transition: 0.5s;
}

.hero-connect:hover{
    transform: scale(1.05);
}

.hero-resume{
    cursor: pointer;
    border-radius: 50px;
    border: white 1px solid;
    padding: 10px 20px;
    transition: 0.5s;
}

.hero-resume:hover{
    transform: scale(1.05);
}

.hero img.scroll-image{
    width: 20px;
    height: auto;
}

.scroll-down {
    position : absolute;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px); /* descendre */
  }
  60% {
    transform: translateY(5px); /* remonter */
  }
}