


.title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 20px; /* change la taille comme tu veux */
  font-weight: 300; /* optionnel : style plus élégant */
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1000px; /* largeur max du container */
  margin: 0 auto; /* centre horizontalement */
  align-items: stretch;
  align-self: center;
  justify-items: center;
}

.card {
  background: var(--bg-tertiary);
  color: var(--text-secondary);
  padding: 25px;
  width: 260px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #4566c0;
}

.card h2 {  
  color: #2fb4ff;
  margin-bottom: 15px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  font-size: 17px;
}

.item:hover {
  padding: 5px;
  border-radius: 10px;
  background-color: #6180d6;
}

.icon {
  font-size: 22px;
}

.item img.icon {
  width: 40px;
  height: 40px;
}
