@import "tailwindcss";

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(5, 5, 52);

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise{
    display: grid;

}