

.skills{
  padding: 0 30px 0px;
}
.title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 20px; /* change la taille comme tu veux */
  font-weight: 300; /* optionnel : style plus élégant */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  padding: 20px;
  max-width: 1000px; /* largeur max du container */
  margin: 0 auto; /* centre horizontalement */
  justify-items: center;
}

.card {
  background: var(--bg-tertiary);
  color: var(--text-secondary);
  padding: 20px;
  width: 100%; 
  overflow: hidden;
  max-width: 400px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: 0.3s;
  box-sizing: border-box;
}

/* petit-ecran-pc : On passe à 3 petite colonnes */
@media (max-width: 1500px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}

/* Tablette : On passe à 2 colonnes */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}

/* Mobile : On passe à 1 colonne */
@media (max-width: 650px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills{
    padding: 0 00px 0px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #4566c0;
}

.card h2 {  
  color: #5a85f9;
  margin-bottom: 15px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  font-size: 17px;
}

.item:hover {
  padding: 5px;
  border-radius: 10px;
  background-color: #6180d6;
}

.icon {
  font-size: 22px;
}

.item img.icon {
  width: 40px;
  height: 40px;
}
