

.skills{
  padding: 0 30px 0px;
}
.title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 20px; 
  font-weight: 300; 
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  padding: 20px;
  max-width: 1000px; 
  margin: 0 auto;
  justify-items: center;
}

.card {
  background: var(--bg-tertiary);
  color: var(--text-secondary);
  padding: 20px;
  width: 100%; 
  overflow: hidden;
  max-width: 400px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: 0.3s;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(30px);
  transition:  opacity 0.6s ease, transform 0.6s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1500px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills{
    padding: 0 00px 0px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #4566c0;
}

.card h2 {  
  color: #5a85f9;
  margin-bottom: 15px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  font-size: 17px;
  border-radius: 10px;
}

.item:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--bg-item-hover);
}

.icon {
  font-size: 22px;
}

.item img.icon {
  width: 40px;
  height: 40px;
}


