
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1300px;
    justify-items: center;
    margin: 0% auto;
    margin-top: 30px;
}

.titleSectionEducation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titleSectionExperience {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.titleSectionEducation .icon {
  margin-left: 30px;
  font-size: 30px;       /* taille de l’icône */
  color: #b923e1;        /* ta couleur */
}

.titleSectionExperience .icon {
  margin-left: 30px;
  font-size: 30px;       /* taille de l’icône */
  color: #DA7C25;        /* ta couleur */
}

/* Le conteneur qui crée la ligne verticale */
.timeline-container {
    position: relative;
    margin-left: 20px;
    border-left: 2px solid #DA7C25; /* La ligne verticale bleue */
}

.Education .timeline-container {
    border-left: 2px solid #b923e1; /* La ligne verticale pour l'éducation */
}

.Exp-Card{
    position: relative;
    background-color: #111a33;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
}

.Exp-Card:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px -8px #DA7C25;
}

.Education .Exp-Card:hover {
  box-shadow: 0 10px 10px -8px #b923e1;
}

.Exp-Card::before {
    content: "";
    position: absolute;
    left: -41px; /* Ajuste selon l'épaisseur de ta bordure pour centrer la boule */
    top: 0px;   /* Aligne la boule avec le titre de la carte */
    width: 16px;
    height: 16px;
    background-color: #DA7C25; /* Couleur de la boule (comme tes dates) */
    border: 3px solid #111a33; /* Contour pour détacher la boule de la ligne */
    border-radius: 50%;
    z-index: 1;
}

/* Optionnel : Changer la couleur de la boule pour la section Education */
.Education .Exp-Card::before {
    background-color: #b923e1;
}

.date{
    color: aqua;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #314887;
    border-radius: 12px;
    padding: 4px 10px;
    display: inline-block;
}

.title-resume{
    margin-bottom: 5px;
}

.company{
    color: #DA7C25;
    margin-bottom: 10px;
}

.taches{
    line-height: 1.2;
    font-size: 15px;
}