
.resume{
    padding: 0 30px 0px;
}

@media (max-width: 650px) {
  .resume{
    padding: 0 0px 0px;
  }
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    max-width: 1140px;
    justify-items: center;
    margin: 0% auto;
    margin-top: 30px;
}

@media (max-width: 1500px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1050px;
  }
}

@media (max-width: 1024px) {
  .content{
    grid-template-columns: repeat(1, 1fr);
    max-width: 730px;
  }
}

.titleSectionEducation {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-primary);
    font-size: 23px;
}

.titleSectionExperience {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: var(--text-primary);
    font-size: 23px;
}

.titleSectionEducation .icon {
  margin-left: 30px;
  font-size: 27px;       
  color: #b923e1;     
}

.titleSectionExperience .icon {
  margin-left: 30px;
  font-size: 23px;      
  color: #5a85f9;    
}

.timeline-container {
    position: relative;
    margin-left: 20px;
    border-left: 2px solid #5a85f9; 
}

.Education .timeline-container {
    border-left: 2px solid #b923e1;
}

.Exp-Card{
    position: relative;
    background-color: var(--bg-tertiary);
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
}

.Exp-Card:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px -8px #5a85f9;
}

.Education .Exp-Card:hover {
  box-shadow: 0 10px 10px -8px #b923e1;
}

.Exp-Card::before {
    content: "";
    position: absolute;
    left: -41px; 
    top: 0px;   
    width: 16px;
    height: 16px;
    background-color: #5a85f9;
    border: 3px solid var(--bg-tertiary);
    border-radius: 50%;
    z-index: 1;
}


.Education .Exp-Card::before {
    background-color: #b923e1;
}

.date{
    color: aqua;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: var(--bg-year);
    border-radius: 12px;
    padding: 4px 10px;
    display: inline-block;
}

.title-resume{
    margin-bottom: 5px;
    color: var(--text-secondary);
}

.company{
    margin-bottom: 10px;
}

.taches{
    line-height: 1.2;
    font-size: 15px;
    color: var(--text-secondary);
}


