.about{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0a1124;
}

.about-title{
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    flex-direction: row;
    margin-left: clamp(10px, 5vw, 60px);
    margin-right: clamp(10px, 5vw, 60px);
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 105px;
}

.about-content img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    /*0 0 20px #DA7C25;*/
    box-shadow: #DA7C25 0px 0px 25px 2px;
    margin-bottom: 20px;
}

.about-desc p {
  margin-bottom: 10px; /* espace de 10px entre chaque paragraphe */
}