
.about-content {
    display: grid;
    /* 1. On définit la structure : une colonne de 1 part et une de 2 parts */
    grid-template-columns: 1fr 2fr;
  
    /* 2. OU ALORS : On utilise repeat avec minmax pour le responsive */
    /* Ici, chaque colonne fera au minimum 300px et s'étendra pour remplir l'espace */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* La 2ème colonne prend 2 parts, la 1ère prend 1 part */
    gap: 30px;
    max-width: 1300px;
    justify-items: center;
    margin: 0% auto;
    margin-left: clamp(10px, 12vw, 200px);
    margin-right: clamp(10px, 12vw, 200px);
    margin-top: 40px;
    margin-bottom: 105px;
}

.about-content img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: #4566c0 0px 0px 25px 2px;
    margin-bottom: 20px;
}

.about-right{
    display: flex;
    flex-direction: column;
}

.about-desc p {
  background-color: #111a33;
  margin-bottom: 10px; /* espace de 10px entre chaque paragraphe */
  padding: 15px;
  border-radius: 7px;
  font-size: 20px;
}

.expertise-icons{
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-top: 50px;
  justify-content: center;
} 

.icon-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 7px;
}

.icon {
    font-size: 80px; /* Taille de l'icône */
    color: #DA7C25;
    margin-bottom: 10px; /* Espace entre l'icône et son label */
}