.about{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(5, 5, 52);
}

.about-title{
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    margin-left: 60px;
    gap: 40px;
}

.about-content img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-desc p {
  margin-bottom: 10px; /* espace de 10px entre chaque paragraphe */
}