
.contact{
    padding: 0 50px 30px;
}

/* Mobile : On passe à 1 colonne */
@media (max-width: 650px) {
  .contact{
    padding: 0 20px 0px;
  }
}

.Formcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1100px;
    justify-items: center;
    margin: 0% auto;
    width: 100%;
    justify-items: stretch;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* petit-ecran-pc : On passe à 3 petite colonnes */
@media (max-width: 1500px) {
  .Formcontainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
  }
}

/* Mobile : On passe à 1 colonne */
@media (max-width: 1024px) {
  .Formcontainer{
    grid-template-columns: repeat(1, 1fr);
    max-width: 700px;
  }
}

.references{
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    padding: 35px;
    border-radius: 7px;
}

.references .email, .phone, .location, .titleRef{
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.name,
.email,
.message,
.phone,
.location {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 20px;
    color: var(--text-primary);
}

.email p:last-child,
.phone p:last-child,
.location p:last-child{
    cursor: pointer;
}

.email p:last-child:hover,
.phone p:last-child:hover,
.location p:last-child:hover{
    color: #5a85f9;
}

/* Styles appliqués à l'INPUT réel */
.input input, 
.input textarea {
    width: 100%; 
    font-size: 18px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: var(--bg-tertiary);
    box-sizing: border-box; 
    color: var(--text-primary); /* ou une autre couleur claire */
    outline: none; 
}

.Email-Item, .Phone-Item, .Location-Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icon-email, .icon-phone, .icon-location{
    display: flex;
    margin-bottom: 20px;
    padding: 5px 5px;
    background-color: var(--accent-primary);
    border-radius: 18px;
}

button[type="submit"] {

    padding: 12px 25px; 
    border: none;
    border-radius: 5px;

    background-color: #5a85f9;
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 100%; 
    margin-top: 10px; 

    width: fit-content;
}


button[type="submit"]:hover {
    background-color: #265ffb; 
}

.maps {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.map-expand-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;

    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
    color: #0834e8; /* Texte sombre */
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none; /* Retirer le soulignement par défaut du lien */
    cursor: pointer;

    /* Effet au survol */
    transition: background-color 0.2s;
}

.map-expand-button:hover {
    text-decoration: underline;
    background-color: #fff; /* Le fond devient complètement blanc au survol */
}