

.Formcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    justify-items: center;
    margin: 0% auto;
    width: 100%;
    justify-items: stretch;
    margin-top: 30px;
}

.references{
    background-color: #111a33;
    padding: 35px;
    border-radius: 7px;

}

.references .email, .phone, .location, .titleRef{
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.name,
.email,
.message,
.phone,
.location {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacement entre le label et l'input */
    margin-bottom: 20px; /* Espacement entre les champs complets */
}

/* Styles appliqués à l'INPUT réel */
.input input, 
.input textarea {
    width: 100%; 
    font-size: 18px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: #111a33;

    box-sizing: border-box; 
    
    color: white; /* ou une autre couleur claire */

    outline: none; 
}

.Email-Item, .Phone-Item, .Location-Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icon-circle, .icon-phone, .icon-location{
    display: flex;
    margin-bottom: 20px;
    padding: 5px 5px;
    background-color: rgb(0, 118, 118);
    border-radius: 18px;
}

button[type="submit"] {

    padding: 12px 25px; 
    border: none;
    border-radius: 5px;

    background-color: rgb(19, 197, 197);
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 0.3s ease; 

    width: 100%; 
    margin-top: 10px; 
}


button[type="submit"]:hover {
    background-color: rgb(1, 135, 135); 
}

button[type="submit"]:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(218, 124, 37, 0.5); 
}

