

.Formcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    justify-items: center;
    margin: 0% auto;
    width: 100%;
    justify-items: stretch;
    margin-top: 30px;
}

.references{
    background-color: #111a33;
    padding: 35px;
    border-radius: 7px;
}

.references .email, .phone, .location, .titleRef{
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.name,
.email,
.message,
.phone,
.location {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 20px;
}

/* Styles appliqués à l'INPUT réel */
.input input, 
.input textarea {
    width: 100%; 
    font-size: 18px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: #111a33;
    box-sizing: border-box; 
    color: white; /* ou une autre couleur claire */
    outline: none; 
}

.Email-Item, .Phone-Item, .Location-Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icon-circle, .icon-phone, .icon-location{
    display: flex;
    margin-bottom: 20px;
    padding: 5px 5px;
    background-color: rgb(0, 118, 118);
    border-radius: 18px;
}

button[type="submit"] {

    padding: 12px 25px; 
    border: none;
    border-radius: 5px;

    background-color: rgb(14, 144, 144);
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 0.3s ease; 

    width: 100%; 
    margin-top: 10px; 

    width: fit-content;
}


button[type="submit"]:hover {
    background-color: rgb(1, 109, 109); 
}

.maps {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.map-expand-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;

    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
    color: #0834e8; /* Texte sombre */
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none; /* Retirer le soulignement par défaut du lien */
    cursor: pointer;

    /* Effet au survol */
    transition: background-color 0.2s;
}

.map-expand-button:hover {
    text-decoration: underline;
    background-color: #fff; /* Le fond devient complètement blanc au survol */
}