

.Formcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    max-width: 1000px;
    justify-items: center;
    margin: 0% auto;
    width: 100%;
    justify-items: stretch
}

.references{
    background-color: #111a33;
    padding: 20px;
    border-radius: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}

.name,
.email,
.message {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacement entre le label et l'input */
    margin-bottom: 20px; /* Espacement entre les champs complets */
}

/* Styles appliqués à l'INPUT réel */
.input input, 
.input textarea {
    width: 100%; 
    font-size: 18px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: #111a33;

    box-sizing: border-box; 
    
    color: white; /* ou une autre couleur claire */

    outline: none; 
}

button[type="submit"] {

    padding: 12px 25px; 
    border: none;
    border-radius: 5px;

    background-color: rgb(19, 197, 197);
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 0.3s ease; 

    width: 100%; 
    margin-top: 10px; 
}

/* Effet au survol : Assombrir légèrement la couleur de fond */
button[type="submit"]:hover {
    background-color: rgb(1, 135, 135); 
}

button[type="submit"]:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(218, 124, 37, 0.5); 
}