.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: var(--bg-navbar); 
    color: var(--text-primary);
    box-shadow: var(--shadow);
}

.navbar_title{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    flex: 1;
    font-size: 25px;
}

.navbar_name {
  background: linear-gradient(90deg, #5a85f9, #b923e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* bleu */
}

.navbar_separate {
  color: #b923e1; /* violet simple */
  font-weight: bold;
}

.navbar_prenom {
  color: #DA7C25;
  background: linear-gradient(90deg, #b923e1, #5a85f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar-center{
    display: inline-flex;
    align-items: center;
    flex: 2;
    justify-content: center;
}

.navbar_list{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    list-style: none;
    gap: 30px;
    font-size: 17px;
}

.navbar_list li:hover {
    color: #5a85f9;
    transition: 0.3s;
}

.navbar_list li.active {
    color: #5a85f9;
}

.navbar_end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.navbar_toggle {
    display: none; 
    color: white;
    font-size: 28px;
    margin-right: 20px;
    z-index: 1001;
    cursor: pointer;
}

@media (max-width: 900px) {
    
    .navbar_toggle {
        display: flex; 
        order: 3;
        color: var(--text-primary);
    }

    .navbar_center{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 70px; 
        right: 0;
        background-color: var(--bg-navbar); 
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .navbar_center.open,
    .navbar_end.open {
        display: flex;
    }
    
    .navbar_list {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0;
    }
    
    .navbar {
        justify-content: space-between; 
    }

    .navbar_end {
        justify-content: right;
    }
}
