.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
    cursor: pointer;
    align-items: center; /* centrage vertical */
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color:rgb(9, 9, 80);
}

.navbar_title{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    flex: 1;
    font-size: 25px;
}

.navbar_name {
  color: #DA7C25;
  background: linear-gradient(90deg, #DA7C25, #b923e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* bleu */
}

.navbar_separate {
  color: #b923e1; /* violet simple */
  font-weight: bold;
}

.navbar_prenom {
  color: #DA7C25;
  background: linear-gradient(90deg, #b923e1, #DA7C25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar-center{
    display: inline-flex;
    align-items: center;
    flex: 2;
    justify-content: center;
}

.navbar_list{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.navbar_list li:hover {
    color: #DA7C25;
    transition: 0.3s;
}

.navbar_list li.active {
    color: #DA7C25;
}

.navbar_end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-connect {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06%);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}