

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    padding-bottom: 15px;
    padding-top: 15px;
}

.rights{
    margin-bottom: 5px;
}