
* {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eaeaea;
  --bg-tertiary: #ffffff;
  --bg-techno:rgb(228, 228, 228);
  --bg-year: #727ea1;
  --bg-navbar: rgba(255, 255, 255, 0.95);
  --bg-mssg: #bccef3;
  --bg-msg-user: linear-gradient(135deg, #97abe7 0%, rgb(208, 173, 244) 100%);
  --bg-item-hover:#abbff5;
  --text-primary: #000000;
  --text-secondary: #212529;
  --text-muted: #adb5bd;
  --accent-primary: #e0e7fe;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --chatbot-footer-bg: rgba(255, 255, 255, 0.1);
  --icon-clor: #5a85f9;
}

[data-theme="dark"] {
  --bg-primary: #000000;
  --bg-secondary: #0a1124;
  --bg-tertiary: #111a33;
  --bg-techno:rgb(81, 80, 80);
  --bg-year: #314887;
  --bg-navbar: rgba(0, 0, 0, 0.95);
  --bg-mssg: #38558f;
  --bg-msg-user: linear-gradient(135deg, #4566c0 0%, #764ba2 100%);
  --bg-item-hover:#6180d6;
  --shadow: 0 10px 30px rgba(32, 32, 32, 0.5);
  --text-primary: #f8f9fa;
  --text-secondary: #ced4da;
  --accent-primary: #788bbf;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  --chatbot-footer-bg: rgba(0, 0, 0, 0.1);
  --icon-clor: white;
}


body {
  background-color: var(--bg-secondary);
  color: white;
  font-family: Arial;
}

section {
  scroll-margin-top: 100px;
}

/* animation titre au scroll */
.scroll-title {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.scroll-title.show {
  opacity: 1;
  transform: translateY(0);
}
